/**************** http://blog.timersys.com/php/paginacion-con-php-y-mysql-3-estilos/ *******/


/* -------------------------------------------- */
/* ----------- Pagination: Digg Style --------- */
/* -------------------------------------------- */
#ul    
{
	border:1;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#pagination-digg li          
{
	border:0;
	margin:0;
	padding:0;
	font-size:14px;
	list-style:none;
	float:left;
	margin-top: -15px;

}
#pagination-digg a           
{ 
	border:solid 1px #9aafe5; 
	margin-right:2px;
	height:20px;
	width:15px; 
	float:left;/*se agrego*/
	
}
#pagination-digg .previous-off
{ 
	border:solid 1px #DEDEDE; 
	color:#888888; 
	display:block; 
	float:left; 
	font-weight:bold; 
	margin-right:2px; 
	padding:5px 10px; 
}

#pagination-digg .next-off   
{ 
	border:solid 1px #DEDEDE; 
	color:#888888; 
	display:block; 
	float:left; 
	font-weight:bold; 
	margin-right:2px; 
	padding:5px 10px; 
}

#pagination-digg .next a,
#pagination-digg .previous a { font-weight:bold; }
#pagination-digg .active     
{ 
	background:#2e6ab1; 
	color:#FFFFFF; 
	font-weight:bold; 
	display:block; 
	float:left; 
	padding:5px 10px; 
	/*margin-right:2px; */
}
#pagination-digg a:link,
#pagination-digg a:visited   
{ 
	color:#0e509e; 
	display:block; 
	float:left; 
	padding:5px 10px; 
	text-decoration:none; 
}
#pagination-digg a:hover     
{ 
	border:solid 0px #0e509e; 
}

