/*@import url("controls.css");

@import url("container.css");

@import url("font.css");

*/

.tabla 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align: right;
	width: 100%;

}
.tabla th 
{
	padding: 5px;
	font-size: 11px;
	background-color: #83aec0;
	/*background-image: url(fondo_th.png);*/
	background-repeat: repeat-x;
	color: #FFFFFF;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #558FA6;
	border-bottom-color: #558FA6;
	font-family: “Trebuchet MS”, Arial;
	text-transform: uppercase;
	text-align:center;
}
.tabla .modo1 
{
	font-size: 11px;
	font-weight:bold;
	background-color: #e2ebef;
	/*background-image: url(fondo_tr01.png);*/
	background-repeat: repeat-x;
	color: #34484E;
	font-family: “Trebuchet MS”, Arial;
}
.tabla .modo1 td 
{
	padding: 5px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #A4C4D0;
	border-bottom-color: #A4C4D0;
	text-align:right;
}

.tabla .modo1 th 
{
	/*background-image: url(fondo_tr01a.png);*/
	background-position: left top;
	font-size: 11px;
	font-weight:bold;
	text-align: left;
	background-color: #e2ebef;
	background-repeat: repeat-x;
	color: #34484E;
	font-family: “Trebuchet MS”, Arial;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #A4C4D0;
	border-bottom-color: #A4C4D0;
}




.tabla .modo2 
{
	font-size: 11px;
	font-weight:bold;
	background-color: #fdfdf1;
	/*background-image: url(fondo_tr02.png);*/
	background-repeat: repeat-x;
	color: #990000;
	font-family: “Trebuchet MS”, Arial;
	text-align:left;
}
.tabla .modo2 td 
{
	padding: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #EBE9BC;
	border-bottom-color: #EBE9BC;
	text-align:right;
	font-size:13px;
}
.tabla .modo2 th 
{
	/*background-image: url(fondo_tr02a.png);*/
	font-size:13px;
	background-position: left top;
	font-size: 11px;
	font-weight:bold;
	background-color: #fdfdf1;
	background-repeat: repeat-x;
	color: #990000;
	font-family: “Trebuchet MS”, Arial;
	text-align:left;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #EBE9BC;
	border-bottom-color: #EBE9BC;
}


.tablaFormulario
{
	font-family: Georgia,'Times New Roman',Times,serif;
	font-size:12px;
	color:#000000;
}

.DatosUsuario
{
	font-family: Georgia,'Times New Roman',Times,serif;
	font-size:11px;
}
